*.class
*.log
out/

# Sorties générées localement
/fich.txt
/file.txt
/filecolor.txt
/file1.png
/fileRecolor.png
/fileCompress.png
/couleur_de_base.txt
/imge_de_base.txt

# Fichiers système / IDE
.DS_Store
.vscode/
.idea/
